body {
  padding: 0em;
  margin: 0em;
  font-size: 0.9em;
  font-family: Helvetica, Verdana, sans-serif;
}

#logo {
  display: block;
  float: left;
  width: 5em;
  height: 5em;
  background-image: url(../img/logo.jpg);
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

#header {
  margin: 0em;
  background-color: #4a0715;
  color: #e0ac00;
  padding: 1em;
  font-size: 2em;
  text-align: center;

}

#breadcrumb {
  text-align: left;
  background-color: #1f1d1d;
  color: #e0ac00;
  padding: 0.1em;
  padding-left: 1em;
}

#breadcrumb > p{
  margin:0;
}   

#menu {
	width: 100%;
    font-size: 1.2em;
}

#menu > ul {
  background-color: #4a0715;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu > ul > li {
  float: left;
  color: #e0ac00;
}

#menu > ul li a {
  display: block;
  text-align: center;
  padding: 0.6em;
  text-decoration: none;
  margin: 0em;
  color: inherit;
}

#menu > ul .login {
    float: right;
}

#menu > ul .impostazioni > span {
  display: block;
  text-align: center;
  padding: 0.6em;
  text-decoration: none;
  margin: 0em;
  color: inherit;
}

#active {
  display: block;
  text-align: center;
  padding: 0.6em;
  text-decoration: none;
  margin: 0em;
}

#menu ul li a:hover {
  background-color: #33050e;
}

#menu > ul .impostazioni {
	float: right;
}

#menu > ul .impostazioni > span:hover {
  background-color: #33050e;
}

#dropbtn:hover + #dropdown_content {
	display: block;
}

#dropbtn {
  background-color: #4a0715;
  color: #e0ac00;
  padding: 0.3em;
  margin: 0em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

#dropdown_content {


  right: 0;
  display: none;
  position: absolute;
  background-color: #4a0715;
  z-index: 1;

}

#dropdown_content:hover {
    display: block;
}

#dropdown_content a {
  display: block;
  color: #e0ac00;
  padding: 0.3em;
  text-decoration: none;
  padding-left: 0.8em;

}

#dropdown:hover + #dropdown_content {
  display: block;
}

#dropdown_content a:hover {
  background-color: #33050e
}

#dropdown:hover #dropbtn {
  background-color: #33050e;
}

#info_container {
  display: flex;
  flex-wrap: wrap;
}

#footer h2 {
 font-size: 1em;
}

#footer p {
  font-size: 0.8em;
}

.info {
  margin: 0em;
  padding-right: 0.5em;
  list-style: none;
}

.info ul {
  list-style-type: none;
}

#footer h1 {
  font-size: 1.3em;
}



#footer span {
  margin-top: 2em;
  text-align: center;
  display: block;
  clear: both;
}
