/* Generale */
html, body {
    height: 97%;
    margin: 0;
}

img {
    display: none;
}

.aiuti {
    display: none;
}

#menu {
    display: none;
}

#footer {
    font-size: 0.9em;
}

.info{
    display: inline-block;
}

/* Prodotti */
#prodotti dl, dt, dd{
	margin: 0;
	padding: 0;
}

#prodotti>dl{
	margin: 0em 2em;
}

#prodotti>dl>dd{
	overflow: auto;
    border-top: none;
	margin-bottom: 2em;
}

#prodotti>dl>dt{
	font-size: 1.5em;
	padding: 0.2em 0em;
	padding-left: 0.5em;
	clear: both;
}

#prodotti>dl>dt.prodotti_dispari+dd img{
	float: left;
	margin-right: 0.5em;
}

#prodotti>dl>dt.prodotti_pari+dd img{
	float: right;
	margin-left: 0.5em;
}

#prodotti img{
	width: 20%;
    display: inline-block;
}

#prodotti>dl>dd>p{
	margin-left: 0.5em;
	margin-right: 0.5em;
}


/* Home Admin */

#home_admin form {
  display: none;
}

/* Gestione Profilo Utente */
#menu_profilo {
  display: none;
}

/* Pagamento */
#pagamento {
	width: 70%;
	margin: auto;
	text-align: center;
}

#scelta_consegna {
	padding-bottom: 5mm;
}

#pagamento fieldset {
	margin-bottom: 5mm;
	page-break-inside: avoid;
}

.selezione {
	padding: 1mm;
	margin: 2mm;
}

#pagamento input[type=text] {
	width: 65%;
	margin-bottom: 2mm;
	padding: 1mm;
}

#info_consegna label {
	display: block;
}

#info_pagamento label {
	display: block;
}

#info_pagamento input[name="cvv_carta"] {
	display: inline;
	width: 15mm;
}

/* Takeaway */
.lista_piatti {
	width: 85%;
	margin: auto;
	padding-bottom: 1pt;
}

.lista_piatti dt {
	clear: both;
	width: 100%;
}

.lista_piatti dt + dd {
	display: block;
	float: right;
	width: 15%;
	text-align: right;
	padding-bottom: 4mm;
}

.lista_piatti dt + dd + dd {
	width: 70%;
	font-style: italic;
	padding-bottom: 4mm;
}

#torna_su {
	display: none;
}

/* Aggiunta Prodotti */
#aggiunta_prodotti form{
	display: none;
}

/* Pagina Successo */
#successo{
	display: block;
	text-align: center;
	margin: 2em 0em;
}

#successo img{
	display: inline-block;
	width: 18%;
}


