/* Generale */

body {
  padding: 0em;
  margin: 0em;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #1f1d1d;
  font-size: 1.1em;
}

body a {
	color: #f5e900;
}

body a:visited {
	color: #e0ac00;
}

.content, .info {
    color: #d9d9d9;
}

.aiuti{
	position: absolute;
	height: 0;
	overflow: hidden;
}

/*
 * Palette
 *
 * backgroud-color: #1f1d1d
 * header footer backgroud-color: #4a0715
 * header h1 color: #e0ac00
 * menù li color: #f5e900
 * menù li:hover background-color: #33050e
 * menù li a:visited color: #e0ac00
 *
 */


/*	Header	*/

#logo {
  display: block;
  float: left;
  width: 5em;
  height: 5em;
  background-image: url(../img/logo.jpg);
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

#header {
  margin: 0em;
  background-color: #4a0715;
  color: #e0ac00;
  padding: 1em;
  font-size: 2em;
  text-align: center;

}



/*	Menu	*/

#menu {
	width: 100%;
    font-size: 1.2em;
}

#menu ul {
	background-color: #4a0715;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu ul li {
	list-style-type: none;
}

#menu > ul > li {
	float: left;
}

#menu a {
	display: block;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
}

#menu a:hover {
	background-color: #33050e;
}

#menu .impostazioni {
	float: right;
}

#menu .login {
    float: right;
}

#active {
	color: #f5e900;
	display: block;
	padding: 0.6em;
	text-align: center;
	font-weight: bold;
	background-color: #1f1d1d;
}

#dropbtn {
	display: block;
	padding: 0.6em;
	color: #f5e900;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

#dropbtn:hover {
	background-color: #33050e;
}

#dropdown_content {
	position: absolute;
	height: 0;
    overflow: hidden;
}

#dropbtn:hover + #dropdown_content {
	height: auto;
}

#dropdown_content:hover {
    height: auto;
}

#dropdown_content a {
	padding: 0.3em;
	padding-left: 0.8em;
	text-align: left;
}

#dropdown_content #active {
	padding: 0.3em;
	padding-left: 0.8em;
	text-align: left;
}



/*	Breadcrumb	*/

#breadcrumb {
  text-align: left;
  background-color: #1f1d1d;
  color: #f5e900;
  padding: 0.1em;
  padding-left: 1em;
}

#breadcrumb > p{
  margin:0;
}



/*	Footer	*/

#footer {
  text-align: center;
  background-color: #4a0715;
}

#footer h2 {
 font-size: 1em;
}

#footer p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.info {
  margin: 0em;
  padding-right: 0.5em;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.info > h2 {
    color: #e0ac00;
}

.info > ul > li {
  text-align: left;
}

.info ul {
	padding: 0;
	text-align: left;
	list-style-type: none;
}

.info:nth-child(1) ul li:nth-child(2) {
    margin-top: 1em;
    border-top: 1px solid black;
    padding-top: 1em;
}

.info:nth-child(2) {
    margin-left: 10%;
}

#footer span {
  margin-top: 2em;
  text-align: center;
  display: block;
  clear: both;
}


/* LATO UTENTE*/
/*	carrello	*/

#carrello table {
	width: calc(100% - 16em);
	text-align: center;
	margin: 2em 8em 1em;
	border-collapse: separate;
	border-spacing: 0 1em;
}

#carrello table tbody tr td {
	border: solid 1px white;
	border-left: none;
	border-right: none;
	padding: 0.5em;
}

#carrello table tbody tr td:first-child {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-left: solid 2px white;
}

#carrello table tbody tr td:last-child {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-right: solid 2px white;
}

#carrello table tbody td:first-child {
	text-align: left;
}

#carrello input[type="text"] {
	text-align: center;
	width: 2.5em;
}

#carrello button {
	margin: 1em auto 2em 90%;
}

#carrello input {
	border-radius: 5px;
}

#carrello input[name="rimuovi"] {
    background-color: #dc3545;
	border: solid 4px #dc3545;
    border-radius: 5px;
}

#carrello input[name="rimuovi"]:hover {
	background-color: #c82333;
	border: solid 4px #c82333;
}

/* Login */
#login>form{
	max-width: 26.875em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#login>p{
	text-align: center;
	font-weight: bold;
}

#login input:not([type=submit]){ /* Da mettere uguale per tutti i form del sito? */
	display: block;
	width: 100%;
	padding: 0.6em 0.875em;
	margin: 0.5em 0;
	box-sizing: border-box;
	border: 2px;
	border-radius: 4px;
}

#login>form input[type=submit]{
	display: block;
	margin:auto;
	font-size: 1.2em;
}

/* Takeaway */
#menu_list {
	width: 80%;
	margin: auto;
	list-style: none;
	padding-top: 1em;
}

#menu_list  dt {
	font-variant: small-caps;
	padding-bottom: 0.2em;
}

#menu_list  dd {
	font-style: italic;
	padding-bottom: 0.4em;
}

.menu_item {
	display: inline-block;
	vertical-align: top;
	width: 18%;
	text-align: center;
}

.lista_piatti {
	width: 75%;
	margin: auto;
	line-height: 1.5em;
	padding-bottom: 1em;
}

.lista_piatti h1 {
	text-align: center;
	font-variant: small-caps;
	color: #e0ac00;
}

.lista_piatti dt {
	clear: both;
	width: 100%;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #000;
	background-color: #4a0715;
	font-size: 1.2em;
}

.lista_piatti dt + dd {
	display: block;
	float: right;
	width: 25%;
	text-align: right;
	font-size: 1.2em;
	padding-bottom: 1em;
}

.lista_piatti dt + dd + dd {
	width: 70%;
	font-style: italic;
	padding-bottom: 1em;
}

#torna_su {
	position: fixed;
	bottom: 0.8em;
	right: 0.8em;
	z-index: 99;
	background-color: #555;
	color: #fff;
	padding: 0.7em;
	border:  1px solid #000;
}



/* Prodotti */
#prodotti dl, dt, dd{ /* Da applicare a tutte le pagine così che si resetti la visualizzazione iniziale? */
	margin: 0;
	padding: 0;
}

#prodotti>dl{
	margin: 0em 2em;
}

#prodotti>dl>dd{
	overflow: auto;
	border: 1px solid #d9d9d9;
    border-top: none;
	margin-bottom: 2em;
}

#prodotti>dl>dt{
	font-size: 1.5em;
	padding: 0.2em 0em;
	padding-left: 0.5em;
	clear: both;
	border: 1px solid #d9d9d9;
	background-color: #4a0715;
}

#prodotti>dl>dt.prodotti_dispari+dd img{
	float: left;
	margin-right: 0.5em;
}

#prodotti>dl>dt.prodotti_pari+dd img{
	float: right;
	margin-left: 0.5em;
}

#prodotti img{
	width: 20%;
}

#prodotti>dl>dd>p{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* Recensioni */
#recensioni {
	width: 75%;
	margin: auto;
}

#recensioni h1 {
  text-align: center;
	font-variant: small-caps;
	color: #e0ac00;
}

#recensioni h2 {
	color: #e0ac00;
	font-size: 1.3em;
}

#recensioni h2 + p {
	font-style: italic;
}

#recensioni h2 + p + p {
	padding: 0.5em;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 1em;
	background-color: #4a0715;
}

#form_recensione {
	margin:auto;
	margin-top: 2em;
	margin-bottom: 1.5em;
	max-width: 60%;
	border-radius: 5px;
}

#titolo_recensione, #testo_recensione {
	display: block;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#form_recensione input[type=submit] {
	margin-top: 0.3em;
	border-radius: 5px;
	float: right;
}

/* Successo */
#successo{
	display: block;
	text-align: center;
	margin: 2em 0em;
}

#successo img{
	width: 18%;
}

/* LATO ADMIN */
/* Aggiunta prodotti */
#aggiunta_prodotti>form{
	margin: 2em;
}

#aggiunta_prodotti fieldset{
	max-width: 90em;
	margin: auto;
	text-align: center;
}

#aggiunta_prodotti fieldset>legend{
	text-align: left;
}

#aggiunta_prodotti .formGroup{ /*Da applicare solo alla classe togliendo #aggiunta_prodotti oppure da altre parti viene usato in modo diverso? */
	display: inline-block;
	margin: 0.5em 0.5em;
}

#aggiunta_prodotti form input[type=submit]{
	background-color: #4a0715;
    border: solid 4px #4a0715;
    border-radius: 5px;
	color: #d9d9d9;
}

#aggiunta_prodotti form input[type=submit]:hover{
	background-color: #990000;
	border: solid 4px #990000;
}

#aggiunta_prodotti table{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-bottom: 2em;
}

#aggiunta_prodotti table, th, td{
	border: 1px solid;
	border-collapse: collapse;
}

#aggiunta_prodotti th, td{
	padding: 0.4em;
}

#aggiunta_prodotti th{
	background-color: #4a0715;
}

#aggiunta_prodotti table>caption{
	margin: 1em;
	font-size:1.5em;
}

/*Home Utente*/

#home_utente {
    margin: 2%;
}

div#notizie {
    float: right;
    border: 1px solid white;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
    max-width: 25%;
}

#notizie dt {
    font-weight: bold;
}

#notizie dd {
    padding-left: 1em;
}


#homeUtente h1 {
    font-size: 2.1em;
}
