/* Generale */

body {
  padding: 0em;
  margin: 0em;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #1f1d1d;
  font-size: 1.1em;
}

body a {
	color: #f5e900;
}

body a:visited {
	color: #e0ac00;
}

.content, .info {
    color: #d9d9d9;
}

.content>h1 {
    font-size: 2.1em;
    text-align: left;
}

.aiuti{
	position: absolute;
	height: 0;
	overflow: hidden;
}

/*
 * Palette
 *
 * background-color: #1f1d1d
 * header footer background-color: #4a0715
 * header h1 color: #e0ac00
 * menù li color: #f5e900
 * menù li:hover background-color: #33050e
 * menù li a:visited color: #e0ac00
 *
 */

/* Form */
.defaultForm{
	max-width: 26.875em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.defaultForm input:not([type=submit]){ /* Da mettere uguale per tutti i form del sito? */
	display: block;
	width: 100%;
	padding: 0.6em 0.875em;
	margin: 0.5em 0;
	box-sizing: border-box;
	border: 2px;
	border-radius: 4px;
}

.defaultForm input[type=submit]{
	display: block;
	margin:auto;
	font-size: 1.2em;
}

/*	Header	*/

#logo {
	display: block;
	margin-left: 10%;
	float: left;
	width: 2em;
	height: 2em;
	background-image: url(../img/logo.jpg);
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#header {
	margin: 0em;
	background-color: #4a0715;
	color: #e0ac00;
	padding: 0.5em;
	font-size: 2em;
	text-align: center;
}

#header h1 {
	margin: 0;
}



/*	Menu	*/

#menu {
	width: 100%;
    font-size: 1.2em;
}

#menu ul {
	background-color: #4a0715;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu ul li {
	list-style-type: none;
}

#menu > ul > li {
	float: left;
}

#menu a {
	display: block;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
}

#menu a:hover {
	background-color: #33050e;
}

#menu .impostazioni, #menu .login {
	float: right;
}

#active {
	color: #f5e900;
	display: block;
	padding: 0.6em;
	text-align: center;
	font-weight: bold;
	background-color: #1f1d1d;
}

#dropbtn {
	display: block;
	padding: 0.6em;
	color: #f5e900;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

#dropbtn:hover {
	background-color: #33050e;
}

#dropdown_content {
	position: absolute;
	height: 0;
    overflow: hidden;
}

#menu .impostazioni:hover #dropdown_content {
	height: auto;
}

#dropdown_content a {
	padding: 0.3em;
	padding-left: 0.8em;
	text-align: left;
}

#dropdown_content #active {
	padding: 0.3em;
	padding-left: 0.8em;
	text-align: left;
}



/*	Breadcrumb	*/

#breadcrumb {
  text-align: left;
  background-color: #1f1d1d;
  color: #f5e900;
  padding: 0.1em;
  padding-left: 1em;
}

#breadcrumb > p{
  margin:0;
}



/*	Footer	*/

#footer {
  text-align: center;
  background-color: #4a0715;
}

#footer h2 {
 font-size: 1em;
}

#footer p {
	color: #d9d9d9;
  font-size: 0.8em;
	padding: 0;
  margin: 0;
}

#footer p:first-of-type {
	padding: 0.5em;
}

#footer p + p {
	padding: 0.3em;
}

#footer p + p + p {
	padding: 0.3em;
}

.info {
  margin: 0em;
  padding-right: 0.5em;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.info > h2 {
    color: #e0ac00;
}

.info > ul > li {
  text-align: left;
}

.info ul {
	padding: 0;
	text-align: left;
	list-style-type: none;
}

.info:nth-child(1) ul li:nth-child(2) {
    margin-top: 1em;
    border-top: 1px solid #d9d9d9;;
    padding-top: 1em;
}

.info:nth-child(2) {
    margin-left: 10%;
}


/*	Table Fritz	*/

table.fritzTable {
	width: calc(100% - 16em);
	text-align: center;
	margin: 2em 8em 1em;
	border-collapse: separate;
	border-spacing: 0 1em;
}

table.fritzTable td {
	border: solid 1px white;
	border-left: none;
	border-right: none;
	padding: 0.5em;
}

table.fritzTable td:first-child {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-left: solid 2px white;
}

table.fritzTable tbody th:first-child {
	border: solid 1px white;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-left: solid 2px white;
}

table.fritzTable td:last-child {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-right: solid 2px white;
}



/* LATO UTENTE*/
/*	carrello	*/

#carrello table tbody td:first-child {
	text-align: left;
}

#carrello input[type="text"] {
	text-align: center;
	width: 2.5em;
}


#carrello input {
	border-radius: 5px;
}

#carrello input[name="rimuovi"] {
    background-color: #dc3545;
	border: solid 4px #dc3545;
    border-radius: 5px;
}

#carrello input[name="rimuovi"]:hover {
	background-color: #c82333;
	border: solid 4px #c82333;
}



/*	Dettagli ordine (utente e admin)	*/

#dettagli_ordine {
	padding: 2em 6em;
}

#dettagli_ordine .data {
	display: inline-block;
	margin-top: 0;
	width: 48%;
}

#dettagli_ordine table {
	width: 100%;
	text-align: center;
	margin: 2em 0 1em;
	border-collapse: separate;
	border-spacing: 0 1em;
}



/* Login */
#login>p{
	text-align: center;
	font-weight: bold;
}


/* Takeaway */

#take_away>h1{

    margin-left: 1em;
}

#menu_list {
	width: 80%;
	margin-left: 2.2em;
	list-style: none;
	padding-top: 1em;
}

#menu_list  dt {
	font-variant: small-caps;
	padding-bottom: 0.2em;
}

#menu_list  dd {
	font-style: italic;
	padding-bottom: 0.4em;
}

.lista_piatti {
	width: 75%;
	margin: auto;
	line-height: 1.5em;
	padding-bottom: 1em;
}

.lista_piatti h1 {
	text-align: center;
	font-variant: small-caps;
	color: #e0ac00;
}

.lista_piatti dt {
	clear: both;
	width: 100%;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #000;
	background-color: #4a0715;
	font-size: 1.2em;
}

.lista_piatti dt + dd {
	display: block;
	float: right;
	width: 25%;
	text-align: right;
	font-size: 1.2em;
	padding-bottom: 1em;
}

.lista_piatti dt + dd + dd {
	width: 70%;
	font-style: italic;
	padding-bottom: 1em;
	text-indent: 3em;
}

#torna_su {
	padding: 0.5em;
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 99;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #333;
}



/* Prodotti */
#prodotti{
    margin: 0 2em;
}

#prodotti dl, dt, dd{ /* Da applicare a tutte le pagine così che si resetti la visualizzazione iniziale? */
	margin: 0;
	padding: 0;
}

#prodotti>dl>dd{
	overflow: auto;
	border: 1px solid #d9d9d9;
    border-top: none;
	margin-bottom: 2em;
}

#prodotti>dl>dt{
	font-size: 1.5em;
	padding: 0.2em 0em;
	padding-left: 0.5em;
	clear: both;
	border: 1px solid #d9d9d9;
	background-color: #4a0715;
}

#prodotti>dl>dt.prodotti_dispari+dd img{
	float: left;
	margin-right: 0.5em;
}

#prodotti>dl>dt.prodotti_pari+dd img{
	float: right;
	margin-left: 0.5em;
}

#prodotti img{
	width: 20%;
}

#prodotti>dl>dd>p{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* Recensioni */
#recensioni {
	width: 75%;
	margin: auto;
}


#recensioni h2 {
	color: #e0ac00;
	font-size: 1.3em;
	margin: 0;
}

#recensioni h2 + p {
	font-size: 0.8em;
	padding: 0.2em;
	margin: 0;
}

#recensioni h2 + p + p {
	font-style: italic;
	font-size: 0.8em;
	padding: 0.2em;
	margin: 0;
}

#recensioni h2 + p + p + p{
	padding: 0.5em;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 1em;
	background-color: #4a0715;
	line-height: 1.5em;
}

#recensioni form {
	margin:auto;
	margin-top: 2em;
	margin-bottom: 1.5em;
	max-width: 60%;
	border-radius: 5px;
}

#titolo_recensione, #testo_recensione {
	display: block;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#recensioni form input[type=submit] {
	margin-top: 0.3em;
	border-radius: 5px;
	float: right;
}

/* Successo */
#successo{
	display: block;
	text-align: center;
	margin: 2em 0em;
}

#successo img{
	width: 18%;
}

/* LATO ADMIN */
/* Aggiunta prodotti */
#aggiunta_prodotti>h1{
	margin-left: 1em;
}

#aggiunta_prodotti>form{
	margin: 2em;
}

#aggiunta_prodotti fieldset{
	max-width: 90em;
	margin: auto;
	text-align: center;
}

#aggiunta_prodotti fieldset>legend{
	text-align: left;
}

#aggiunta_prodotti .formGroup{ /*Da applicare solo alla classe togliendo #aggiunta_prodotti oppure da altre parti viene usato in modo diverso? */
	display: inline-block;
	margin: 0.5em 0.5em;
}

#aggiunta_prodotti form input[type=submit]{
	background-color: #4a0715;
    border: solid 4px #4a0715;
    border-radius: 5px;
	color: #d9d9d9;
}

#aggiunta_prodotti form input[type=submit]:hover{
	background-color: #990000;
	border: solid 4px #990000;
}

#aggiunta_prodotti table{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-bottom: 2em;
}

#aggiunta_prodotti table, #aggiunta_prodotti th, #aggiunta_prodotti td{
	border: 1px solid;
	border-collapse: collapse;
}

#aggiunta_prodotti th, #aggiunta_prodotti td{
	padding: 0.4em;
}

#aggiunta_prodotti th{
	background-color: #4a0715;
}

#aggiunta_prodotti th[scope=row]{
	background-color: #1f1d1d;
}

#aggiunta_prodotti table>caption{
	margin: 1em;
	font-size:1.5em;
}

/*Home Utente*/

#home_utente {
    margin: 1em;
}

div#notizie {
    float: right;
    border: 1px solid white;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
    max-width: 25%;
}

#notizie dt {
    font-weight: bold;
}

#notizie dd {
    padding-left: 1em;
}


#homeUtente h1 {
    font-size: 2.1em;
}

/* Chi Siamo */
#chi_siamo {
    margin: 1em;
}

#chi_siamo>h1 {
    font-size: 2.1em;
}

#chi_siamo div{
    text-align: center;
}

/* Gestione Profilo Utente */

#gestione_profilo {
    margin: 1em;
}

#menu_profilo>h1 {
    color: #d9d9d9;
    text-align: center;
    display: block;
}

#menu_profilo {
    margin: 2%;
    border: 2px solid grey;
    margin-top: 8%;
    display: block;
    float: left;
}

#menu_profilo ul {
    padding-left: 0;
}

#menu_profilo a {
    font-size: 1em;
}
#menu_profilo>ul li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    list-style-type: none;
    margin-top: 1em;
}

#gestione_utente>form{
	max-width: 35em;
	margin-top: 6%;
	margin-bottom: 1em;
    margin-left: 40%
}

#gestione_utente fieldset {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

#gestione_utente input:not([type=submit]){
    font-size: 1em;
}


/*Gestione Profilo Admin*/

#gestione_admin>h1 {
    text-align: center;
}

#gestione_admin>form {
    margin-left: auto;
}

/* Contatti */
#contatti {
    margin: 1em;
}

#contatti h1 {
    margin-bottom: 2em;
}

#contatti h2 {
    margin-top: 0.5em;
    display: inline;
}

#contatti div img {
    vertical-align: middle;
    margin-bottom: 0.75em;
}
/* Fissato altezza min del div con id="info_stradali alla
   stessa dimensione dell'immagine in quanto la dimensione
   dell'immagine non può essere modificata */
#info_stradali {
min-height: 465px;
}

#info_stradali>h2 {
    white-space:nowrap;
}

#info_stradali a>img {
    display: block;
    float: left;
    clear: both;
    margin-right:1em;
}


#info_stradali dl>dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#info_stradali dl>dd {
    padding-left: 2em;
    margin-bottom: 0.5em;
}

@media screen and (min-width : 891px) and (max-width : 1075px) {
    #info_stradali a>img {
        float: none;
    }
}

/*Home Admin*/

#home_admin {
    margin: 1em;
}

#home_admin div dd {
    padding-left: 2em;
    padding-bottom: 0.5em;
}

#home_admin div {
    border: 2px solid white;
    margin: 0 10%;
}

#home_admin div dl {
    padding: 1em;
}


#home_admin div h1 {
    padding-left: 1em;
}

#home_admin>form {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}


#home_admin input:not([type=submit]){ /* Da mettere uguale per tutti i form del sito? */
	display: block;
	padding: 0.6em 0.875em;
	margin: 0.5em 0;
	box-sizing: border-box;
	border: 2px;
	border-radius: 4px;
    font-size: 0.8em;
}

#home_admin>form input[type=submit]{
	display: block;
	margin:auto;
	font-size: 1.2em;
}

#home_admin fieldset {
    margin: auto;
    width: 20em;
}
#home_admin fieldset textarea ,#home_admin fieldset input[type=text]  {
    width: 100%;
    font-size: 1em;
}

/* Pagamento */

#pagamento {
	width: 50%;
	margin: auto;
	margin-top: 1em;
	text-align: center;
}

#pagamento fieldset {
	margin: 1em;
}

#scelta_consegna input[type=radio] {
	cursor: pointer;
	display: inline;
	width: 2em;
}

#scelta_consegna input[type=radio] + label {
	display: inline;
	cursor: pointer;
	margin-right: 1em;
}

#info_consegna label {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

#info_pagamento label {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

#navigazione input {
	text-align: center;
	width: 7em;
	height: 2em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	font-size: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

#info_pagamento input[name="cvv_carta"] {
	display: inline;
	width: 5em;
}

.selezione {
	padding: 0.3em;
	border-radius: 4px;
	font-size: 0.8em;
	margin: 0.5em;
}


/*	errore utente e admin	*/
#errore {
	background: url("../img/404.png") no-repeat center top;
	background-size: 32%;
	background-color: white;
	min-height: 25em;
	color: black;
}

#errore #testo {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 16%;
	padding-left: 10%;
	padding-right: 10%;
}
